{% block image %}
{% set image = block.image.one() %}

{% if image %}
  {% switch block.imageType %}
    {% case "normal" %}
    <div id="normalImage" class="w-1/5 h-full m-3">
      <img src="{{ image.getUrl }}" class="w-full h-full rounded-lg border-2 border-white shadow-lg"/>
      {% if block.caption %}
        <p class="font-montserrat font-bold text-xs text-white ml-2 mt-1">{{ block.caption }}</p>
      {% endif %}
    </div>
    {% case "halfWidth" %}
    <div id="halfImage" class="w-1/2 h-full mt-3 mb-3">
      <img src="{{ image.getUrl }}" class="w-full h-full rounded-lg border-2 border-white shadow-lg" />
      {% if block.caption %}
        <p class="font-montserrat font-bold text-xs text-white ml-2 mt-1">{{ block.caption }}</p>
      {% endif %}
    </div>
    {% case "fullWidth" %}
    <div id="fullImage" class="w-full h-full mt-3 mb-3">
      <img src="{{ image.getUrl }}" class="w-full h-full rounded-lg border-2 border-white shadow-lg" />
      {% if block.caption %}
        <p class="font-montserrat font-bold text-xs text-white ml-2 mt-1">{{ block.caption }}</p>
      {% endif %}
    </div>
    {% endswitch %}
  {% endif %}
{% endblock %}
