{% block hero %}
{% set backgroundImage = entry.heroImage.one().optimizedImages %}

{% if backgroundImage %}
    {% set imgStyles = "background: linear-gradient(
        rgba(44, 55, 71, .20),
        rgba(44, 55, 71, .20)
      ), url('" ~ backgroundImage.src() ~ "');"|raw %}

    {% if entry.heroImage.one().hasFocalPoint %}
        {% set x = backgroundImage.focalPoint | first * 100 ~ '%' %}
        {% set y = backgroundImage.focalPoint | last * 100 ~ '%' %}
        {% set imgStyles = imgStyles ~ ' background-position: ' ~ [x, y]|join(' ') %}
    {% endif %}
{% endif %}

<div id="hero" class="flex flex-col w-screen h-screen bg-cover" style="{{ imgStyles is defined ? imgStyles }}; background-size: cover;">
  <h1 class="m-auto w-2/3 font-montserrat xl:text-4xl lg:text-3xl text-2xl text-white text-center font-bold leading-normal">
    {% if entry.section.handle == 'portfolio' or entry.section.handle == 'blog' %}
      {{ entry.postDate | date("d M Y")}} •
    {% endif %}
    {{ entry.heroText }}
  </h1>
</div>
{% endblock %}
