{% block aboutMain %}
<section id="hero">
  {% include "_partials/components/_block_hero" %}
  {% block main %}{% endblock %}
</section>
<article id="aboutMainContent" class="flex flex-wrap justify-center mx-auto w-screen xl:pl-32 xl:pr-32 md:pl-6 md:pr-6 sm:pl-3 sm:pr-3 pt-12 pb-12 border-t-2 border-white">
  <h2 class="m-auto w-full pb-6 font-montserrat xl:text-3xl lg:text-2xl sm:text-xl text-white text-center font-bold leading-normal">{{ entry.pageHeader }}</h2>
  <div id="navigationCards" class="flex flex-col md:flex-row pt-6 pb-6">
    {% for block in entry.inlineNavigationCards.all() %}
    {% if block.type == "inlineNavigationCard" %}
    {% include "_partials/components/_block_inlineNavigation" %}
    {% block inlineNav %}{% endblock %}
    {% endif %}
    {% endfor %}
  </div>
  {% for block in entry.pageContent.all() %}
  {% include ('_partials/components/_block_' ~ block.type.handle) %}
  {% endfor %}
  <div id="accordions" class="w-full mt-6">
    <button class="accordion w-full mb-3 p-3 text-white text-left cursor-pointer font-montserrat font-bold border-b-2 border-orange-vv hover:border-white focus:outline-none text-xl">{{ entry.accordionHeader1 }}</button>
    <div class="panel overflow-hidden flex flex-wrap justify-center mx-auto">
      {% for block in entry.accordionContent1.all() %}
        {% include ('_partials/components/_block_' ~ block.type.handle) %}
      {% endfor %}
    </div>
    <button class="accordion w-full p-3 text-white text-left cursor-pointer font-montserrat font-bold border-b-2 border-orange-vv hover:border-white focus:outline-none text-xl">{{ entry.accordionHeader2 }}</button>
    <div class="panel overflow-hidden flex flex-wrap justify-center mx-auto">
      {% for block in entry.accordionContent2.all() %}
        {% include ('_partials/components/_block_' ~ block.type.handle) %}
      {% endfor %}
    </div>
  </div>
</article>
{% endblock %}
