{% block blogPostMain %}
<section id="hero">
  {% include "_partials/components/_block_hero" %}
  {% block main %}{% endblock %}
</section>
<article id="blogMainContent" class="flex flex-wrap justify-center mx-auto w-5/6 p-12 border-t-2 border-white">
  <h2 class="m-auto w-full pb-6 font-montserrat xl:text-3xl lg:text-2xl sm:text-xl text-white text-center font-bold leading-normal">{{ entry.pageHeader }}</h2>
  {% for block in entry.pageContent.all() %}
    {% include ('_partials/components/_block_' ~ block.type.handle) %}
	{% endfor %}
</article>
{% endblock %}
