{% block aboutMain %}
<section id="hero">
  {% include "_partials/components/_block_hero" %}
  {% block main %}{% endblock %}
</section>
<article id="contactMainContent" class="flex flex-wrap justify-center mx-auto w-screen xl:pl-32 xl:pr-32 md:pl-6 md:pr-6 pl-3 pr-3 pt-12 pb-12 border-t-2 border-white w-full">
  <h2 class="m-auto w-full pb-6 font-montserrat xl:text-3xl lg:text-2xl sm:text-xl text-white text-center font-bold leading-normal">{{ entry.pageHeader }}</h2>
  <p class="w-full lg:w-3/4 xl:w-2/3 text-white font-raleway text-base font-normal text-center tracking-wide leading-normal pb-6">{{ entry.pageIntro }}</p>
  <div id="contactButtons" class="w-full flex flex-wrap justify-center">
    <a href="tel:1-828-777-6637">
      <button class="flex-no-grow h-10 w-48 m-3 bg-transparent hover:bg-white text-white hover:text-blue-darkest border-2 border-white rounded-full leading-none font-montserrat font-bold">
        Call Us Now!
      </button>
    </a>
  </div>
  <div id="forms" class="flex flex-col justify-center mx-auto w-full lg:w-3/4 xl:w-2/3 m-3 p-6 max-w-md flex-1 rounded-lg shadow-lg border-white border-2 font-raleway text-xs lg:text-sm font-medium leading-tight text-blue-darkest bg-orange-vv">
    {% macro errorList(errors) %}
    {% if errors %}
    <div class="errors flex flex-wrap">
      {% for error in errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endif %}
    {% endmacro %}

    {% from _self import errorList %}
    <form method="post" action="" accept-charset="UTF-8" class="flex flex-wrap w-full justify-center">
      {{ csrfInput() }}
      <input type="hidden" name="action" value="contact-form/send">
      {{ redirectInput('contact#forms') }}
      {% if craft.app.session.hasFlash('notice') %}
      <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
      {% elseif craft.app.session.hasFlash('error') %}
      <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
      {% endif %}
      <div class="w-full md:w-1/2 flex flex-col items-center py-2 p-3 text-left">
        <div class="w-full h-6">
          {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        </div>
        <input id="from-name" class="appearance-none bg-transparent border-b-2 border-blue-darkest w-full text-blue-darkest mr-3 py-1 px-2 leading-none font-montserrat focus:outline-none" type="text" placeholder="Name" name="fromName" value="{{ message.fromName ?? '' }}">
      </div>
      <div class="w-full md:w-1/2 flex flex-col items-center py-2 p-3 text-left">
        <div class="w-full h-6">
          {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div>
        <input id="from-email" class="appearance-none bg-transparent border-b-2 border-blue-darkest w-full text-blue-darkest mr-3 py-1 px-2 leading-none font-montserrat focus:outline-none" type="email" placeholder="Email Address" name="fromEmail"
          value="{{ message.fromEmail ?? '' }}">
      </div>
      <div class="w-full flex flex-col items-center py-2 m-3 text-left">
        <div class="w-full h-6">
          {{ message is defined and message ? errorList(message.getErrors('message')) }}
        </div>
        <textarea id="message" class="appearance-none bg-transparent border-2 border-blue-darkest w-full text-blue-darkest mr-3 py-1 px-2 leading-none font-montserrat focus:outline-none" rows="10" cols="40" id="message" placeholder="Message{{ message.message ?? '' }}"
          name="message"></textarea>

      </div>
      <button id="getInTouch" type="submit" value="Send" class="focus:outline-none flex-no-grow h-10 w-48 mt-3 bg-transparent hover:bg-blue-vv text-blue-darkest hover:text-white border-2 border-blue-darkest rounded-full leading-none font-montserrat font-bold">
        Submit
      </button>
      <input id="youBetterNotBeARobot" name="youBetterNotBeARobot" type="text">
    </form>
  </div>
  <!--<div id="imageColumn" class="w-full lg:w-1/2 m-3">
    <img src="uploads/images/stumphoe.jpg" class="w-full h-full rounded-lg border-2 border-white shadow-lg" />
  </div>-->
</article>
{% endblock %}
