{% block footer %}
<div id="footer" class="flex flex-row w-screen h-64 content-center items-center justify-center bg-blue-darkest bg-cover border-t-2 border-white" style="background-image: url('{{ siteUrl }}/images/footerBg2x.png')">
  <div id="footerText" class="flex flex-col justify-center w-auto h-48 mr-6 pr-6 border-r-2 border-white">
  <h3 class="text-white text-right font-montserrat">828.777.6637 • 423.721.6077<br>
Weaverville, North Carolina<br>Del Rio, Tennessee</h3>
</div>
  <button id="getInTouch" class="flex-no-grow h-24 w-auto pl-10 pr-10 text-center hover:bg-orange-vv bg-white hover:text-white text-blue-darkest border-2 border-white rounded-full leading-none font-montserrat font-bold text-xl">
    Call Us Now!
  </button>
  </div>
{% endblock %}
