{% block aboutMain %}
<section id="hero">
  {% include "_partials/components/_block_hero" %}
  {% block main %}{% endblock %}
</section>
<article id="resourcesMainContent" class="flex flex-wrap justify-center mx-auto w-screen xl:pl-32 xl:pr-32 md:pl-6 md:pr-6 pl-3 pr-3 pt-12 pb-12 border-t-2 border-white break-words">
  <h2 class="m-auto pb-6 font-montserrat xl:text-3xl lg:text-2xl sm:text-xl text-white text-center font-bold leading-normal">{{ entry.pageHeader }}</h2>
  <p class="text-white font-raleway text-base font-normal leading-tight mb-3">{{ entry.pageIntro }}</p>
  {% for block in entry.pageContent.all() %}
    {% include ('_partials/components/_block_' ~ block.type.handle) %}
	{% endfor %}
  {% for entry in craft.entries.section('photos').all() %}
    {% set imageThumb = entry.galleryImage.one().optimizedImages %}
    {% set image = entry.galleryImage.one() %}
    {% set altText = entry.galleryImage.one().title %}
    <a href="#" data-featherlight="{{ image.getUrl }}">
      <img src="{{ imageThumb.placeholderBox() }}" data-srcset="{{ imageThumb.srcset() }}" sizes="100vw" alt="{{ altText }}" class="lazyload flex-1 m-3 h-64 rounded-lg shadow-lg border-white border-2 hover:border-orange-vv" />
    </a>
  {% endfor %}
</article>
{% endblock %}
