{% block header %}
<div id="header" class="fixed flex flex-row justify-between mx-auto w-screen h-32 lg:h-48 pl-6 pr-6 bg-blue-vv-translucent border-b-2 border-white shadow-lg" style="-webkit-backdrop-filter: blur(4px);">
  <a href="{{ siteUrl }}" class="self-center"><img id="logo" class="w-64 h-auto lg:w-auto lg:h-32" src="{{ siteUrl }}uploads/images/vvLogoWhite.png"/></a>
  <div id="icons" class="flex md:flex-row flex-col h-full">
    <div class="flex flex-row">
      <a href="https://www.facebook.com/voglerllc" class="text-white hover:text-orange-vv text-xl cursor-pointer self-center px-2"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.pinterest.com/vvland/" class="text-white hover:text-orange-vv text-xl cursor-pointer self-center px-2"><i class="fab fa-pinterest"></i></a>
      <a href="" class="text-white hover:text-orange-vv text-xl cursor-pointer self-center px-2"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCw3E9DGhfWKaKR46QmI9abA" class="text-white hover:text-orange-vv text-xl cursor-pointer self-center px-2"><i class="fab fa-youtube"></i></a>
    </div>
    <i id="navIcon" onclick="showNav()" class="fas fa-bars self-center text-white text-4xl cursor-pointer hover:text-yellow-vv px-4"></i>
  </div>
</div>
{% endblock %}
