{% block servicesMain %}
{% set projectType = entry.projectType() %}
<section id="hero">
  {% include "_partials/components/_block_hero" %}
  {% block main %}{% endblock %}
</section>
<article id="servicesMainContent" class="flex flex-wrap justify-center mx-auto w-screen xl:pl-32 xl:pr-32 md:pl-6 md:pr-6 p-3 border-t-2 border-white">
  <h2 class="m-auto pb-6 font-montserrat xl:text-3xl lg:text-2xl sm:text-xl text-white text-center font-bold leading-normal">{{ entry.pageHeader }}</h2>
  <p class="text-white font-raleway text-base font-normal leading-tight">{{ entry.pageIntro }}</p>
  <div id="pageIntro" class="flex flex-wrap justify-center mx-auto">
    {% for block in entry.pageContent.all() %}
    {% include ('_partials/components/_block_' ~ block.type.handle) %}
    {% endfor %}
  </div>
  <div id="servicesNavigation" class="flex flex-col md:flex-row pt-6 pb-6 items-center justify-center w-full">
    {% set sectionName = entry.servicesType %}
    {% for entry in craft.entries.section("#{ sectionName }").all() %}
    {% set i = loop.index %}
    {% set navigationBackground = entry.navigationBackground.one() %}
        <div id="navCard" class="navCard flex h-16 w-64 md:w-32 md:h-32 xl:w-48 xl:h-48 m-3 md:rounded-lg shadow-lg border-white border-2 hover:border-orange-vv cursor-pointer" style="background: linear-gradient(
            rgba(44, 55, 71, .45),
            rgba(44, 55, 71, .45)
          ), url('{{ navigationBackground.getUrl }}') center; background-size:cover;" data-related="{{ i }}">
          <h3 class="m-auto w-3/4 font-montserrat text-sm xl:text-lg text-white text-center font-bold leading-normal">
        {{ entry.pageHeader }}</h3>
    </div>
    {% endfor %}
  </div>
  {% for entry in craft.entries.section("#{ sectionName }").all() %}
  {% set i = loop.index %}
  <div id="{{ i }}" class="content flex flex-wrap justify-center w-full">
    {% for block in entry.pageContent.all() %}
    {% include ('_partials/components/_block_' ~ block.type.handle) %}
    {% endfor %}
  </div>
  {% endfor %}
</article>
{% endblock %}
