{% block testimonial %}
{% set serviceType = entry.projectType.one() %}
{% set tagQuery = craft.tags().group('projectPostTags')title(serviceType).all() %}

<div id="testimonial-container" class="flex flex-row w-screen justify-center my-12">
<div id="testimonial-block" class="flex flex-row flex-wrap w-full lg:w-2/3 xl:w-1/2 border-t-2 border-white pt-8">
  {% for entry in craft.entries.section('testimonials').limit(1).relatedTo(tagQuery).order('RAND()') %}
  {% set author = entry.clientName %}
  {% set testimonial = entry.testimonialText %}
  <div id="left-quote" class="flex flex-col w-1/6 justify-start px-3">
    <i class="fas fa-quote-left text-3xl md:text-5xl text-yellow-vv text-right"></i>
  </div>
  <div id="testimonial-content" class="flex flex-col w-2/3 justify-center text-center font-montserrat font-medium text-base md:text-lg text-white pb-4">
    {{ testimonial }}
  </div>
  <div id="right-quote" class="flex flex-col w-1/6 justify-end px-3">
    <i class="fas fa-quote-right text-3xl md:text-5xl text-yellow-vv text-left"></i>
  </div>
  <div id="testimonial-author" class="w-full text-center font-montserrat font-bold text-base md:text-xl text-white">
    - {{ author }}
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
